@media (max-width:795px) {
    .card-container {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .card-top {
        border-radius: 0;
    }

    .card-pic {
        right: 250px;
    }
}

@media (max-width:430px) {
    header {
        margin: 12px;
        flex-direction: column;
        height: auto;
        padding: 12px;
    }

    .card-pic {
        right: 10%;
    }
    
    .searchbar-and-modeswitch {
        margin-top: 7px;
    }

    .card-pic-container {
        bottom: 27px;
    }

    .card-arrow-right {
        color: white;
    }
    
    .card-arrow-left {
        color: white;
    }

    .stats-titles {
        width: min-content;
    }


}

@media (max-width:350px) {
    .card-s-type {
        top: 65px;
    }

    .card-s-type-2 {
        top: 102px;
    }

}

@media (max-width:320px) {
    .card-s-img {
        height: 150px;
        top: 107px;
    }

    .card-h8 {
        font-size: 17px;
    }

    .card-weight {
        font-size: 17px;
    }

}