body {
    margin: 0;
    background-color: #212529 !important;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
    margin: 16px;
    border-radius: 20px;
    background-color: #EF534F;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 17px 5px 17px;
    position: sticky;
    top: 0;
    z-index: 3;
}

main {
    padding: 16px;
}

.pokedex {
    min-height: 50vh;
    background-color: #fb6c6c;
    color: white;
    display: flex;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

.input-search-container {
    width: 200px;
    height: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;

}

.searchbar {
    width: 80%;
    height: 22px;
    background-color: whitesmoke;
    outline: none;
    border: none;
}

.search-close-icons {
    max-height: 16px;
    margin-right: 7px;
}

.d-none {
    display: none;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-card-s {
    position: relative;
    height: 250px;
    width: 350px;
    /* background-color: chocolate; */
    background-color: #49d0b0;
    border-radius: 20px;
    margin: 16px;
    color: white;
    padding: 16px;
    /* box-shadow: 4px 4px 8px 2px rgba(255, 255, 255, 0.15); */
    transition: all 0.24s ease-in-out;
    cursor: pointer;
}

.pokemon-card-s:hover {
    transform: scale(105%);
}

.card-s-heading {
    position: absolute;
    top: 32px;
    left: 32px;
}

.card-s-id {
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(0, 0, 0, 0.2);
}

.card-s-type {
    position: absolute;
    top: 100px;
    left: 32px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.card-s-type-2 {
    position: absolute;
    top: 140px;
    left: 32px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}



.card-s-img {
    height: 175px;
    position: absolute;
    top: 70px;
    right: 16px;
}

.mode-icons {
    height: 24px;
    margin-left: 12px;
    cursor: pointer;
}

.searchbar-and-modeswitch {
    display: flex;
    align-items: center;
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}


.card-container {
    position: relative;
    position: fixed;
    top: 9%;
    bottom: 3%;
    width: 550px;
    z-index: 10;
    border-radius: 20px;
    object-fit: contain;
    background-color: white;
    /* padding: 20px; */
    /* right: 15%; */
    /* left: 15%; */

}

.oflow-y-hid {
    overflow-y: hidden !important;
}

.oflow-y-unset {
    overflow-y: unset !important;
}

.card-top {
    height: 60%;
    color: white;
    background-color: #49d0b0;
    border-radius: 20px;
    position: relative;
}

.card-heading {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 64px;
    left: 32px;
    cursor: pointer;
}

.card-id {
    position: absolute;
    top: 16px;
    left: 16px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.card-close {
    position: absolute;
    font-size: 35px;
    top: 5px;
    right: 16px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-type {
    position: absolute;
    top: 150px;
    left: 32px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.card-type-2 {
    position: absolute;
    top: 190px;
    left: 32px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.pic-container {
    display: flex;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-pic-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.card-pic {
    height: 250px;
}

.card-arrow-left {
    position: absolute;
    bottom: 100px;
    left: 32px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 50px;
    z-index: 3;
}

.card-arrow-right {
    position: absolute;
    bottom: 100px;
    right: 32px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 50px;
    z-index: 3;
}

.card-experience {
    position: absolute;
    top: 115px;
    left: 32px;
    cursor: pointer;
}

.card-weight {
    position: absolute;
    bottom: 16px;
    left: 32px;
    font-size: 20px;
    cursor: pointer;
}

.card-h8 {
    position: absolute;
    bottom: 16px;
    right: 32px;
    font-size: 20px;
    cursor: pointer;
}

.card-bottom {
    height: 40%;
    background-color: floralwhite;
    color: black;
    border-radius: 20px;
    position: relative;
    padding: 16px 32px;
    cursor: pointer;
}

.bottom-heading {
    border-bottom: 1px solid lightgray;
    
}

.stats-container {
    display: flex;
    justify-content: space-around;
    height: 85%;
    width: 100%;
}

.stats-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: gray;
}

.stats-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* font-weight: bold; */
}

.stats-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
}

footer {
    /* height: 150px; */
    background-color: #3a3a3a;
    height: 150px; 
    margin-top: auto;
    margin: auto 16px 16px 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    text-decoration: none !important;
    color: white !important;
}




