body {
    margin: 0;
    background-color: #212529 !important;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60px;
    background-color: #EF534F;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px 5px 12px;
    position: sticky;
    top: 0;
    z-index: 3;
}

main {
    padding: 16px;
}

.pokedex {
    min-height: 50vh;
    background-color: #fb6c6c;
    color: white;
    display: flex;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

.input-search-container {
    width: 200px;
    height: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;

}

.searchbar {
    width: 80%;
    height: 22px;
    background-color: whitesmoke;
    outline: none;
    border: none;
}

.search-close-icons {
    max-height: 16px;
    margin-right: 7px;
}

.d-none {
    display: none;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-card-s {
    position: relative;
    height: 250px;
    width: 350px;
    /* background-color: #49d0b0; */
    background-color: chocolate;
    border-radius: 10px;
    margin: 16px;
    color: white;
    padding: 16px;
    /* box-shadow: 4px 4px 8px 2px rgba(255, 255, 255, 0.15); */
    transition: all 0.24s ease-in-out;
}

.pokemon-card-s:hover {
    transform: scale(105%);
}

.card-s-heading {
    position: absolute;
    top: 32px;
    left: 32px;
}

.card-s-id {
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(0, 0, 0, 0.2);
}

.card-s-type {
    position: absolute;
    top: 100px;
    left: 32px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.card-s-type-2 {
    position: absolute;
    top: 140px;
    left: 32px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}



.card-s-img {
    height: 175px;
    position: absolute;
    top: 70px;
    right: 16px;
}






